<nav class="mb-5">
    <ol class="breadcrumb" style="background-color: #e9ecef; border-radius: .25rem; padding: .75rem 1rem !important;">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        
        <li *ngFor="let item of items" class="breadcrumb-item" [class.active]="isTheLastItem(item)">
            
            <span *ngIf="isTheLastItem(item)">{item.text}</span>
            
            <a *ngIf="!isTheLastItem(item)" [routerLink]="item.link">{item.text}</a>
        </li>

       
    </ol>
</nav>